<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376171342998-i8c9b1g1nri9mghige45osb8cnaihd48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376171342998-i8c9b1g1nri9mghige45osb8cnaihd48</string>
	<key>API_KEY</key>
	<string>AIzaSyAGulVB3pnTrxhKqd6KkshiAFSGJgmRroE</string>
	<key>GCM_SENDER_ID</key>
	<string>376171342998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>csc450-sp23-project-team-4</string>
	<key>STORAGE_BUCKET</key>
	<string>csc450-sp23-project-team-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376171342998:ios:aecc85b4ecff576f3ae6b7</string>
</dict>
</plist>